<%- include('partials/header') %>
    <div class="card sign">
      <div class="card-body">
        <h1 class="center">Login</h1>
        <!-- Makes POST request to /login route -->
        <form action="/login" method="POST">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control input-text" name="username">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control input-text" name="password">
          </div>
          <button type="submit" class="btn btn-primary submit">Login</button>
          <h5 class="center">Don't have an account? <a href="/register">Register</a> </h5>
        </div>
        </form>
        
      </div>
    </div>
  </div>
  